<!--OVERWATCH 2 SUPPORTS TAB-->

<ion-header>
  <ion-toolbar>
    <ion-title>
      OW2 Supports
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
   <!--Creating a list of collapsible objects-->
 <ion-accordion-group [multiple]="true">
  <ion-accordion value = "1">
    <ion-item slot="header">
      <ion-label>Ana</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      Biotic Rifle (Hip Fire)
      <ul>
        <li>Damage: 70 over 0.58 seconds</li>
        <li>Spread Angle: 0.00 Deg</li>
        <li>Projectile Speed: 125 mps</li>
        <li>Rate of Fire: 0.8</li>
        <li>Ammo: 15</li>
      </ul>
    </div>
    <div class="ion-padding" slot="content">
      Biotic Rifle (ADS)
      <ul>
        <li>Damage: 70 over 0.58 seconds</li>
        <li>Spread Angle: 0.00 Deg</li>
        <li>Projectile Speed: Instant</li>
        <li>Rate of Fire: 0.65</li>
        <li>Ammo: 15</li>
      </ul>
    </div>
  </ion-accordion>

  <ion-accordion value = "2">
    <ion-item slot="header">
      <ion-label>Baptiste</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      Default Ability #1
      <ul>
        <li>####</li>
      </ul>
    </div>
    <div class="ion-padding" slot="content">
      Default Ability #2
      <ul>
        <li>####</li>
      </ul>
    </div>
  </ion-accordion>

  <ion-accordion value = "3">
    <ion-item slot="header">
      <ion-label>Brigitte</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      Default Ability #1
      <ul>
        <li>####</li>
      </ul>
    </div>
    <div class="ion-padding" slot="content">
      Default Ability #2
      <ul>
        <li>####</li>
      </ul>
    </div>
  </ion-accordion>

  <ion-accordion value = "4">
    <ion-item slot="header">
      <ion-label>Kiriko</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      Default Ability #1
      <ul>
        <li>####</li>
      </ul>
    </div>
    <div class="ion-padding" slot="content">
      Default Ability #2
      <ul>
        <li>####</li>
      </ul>
    </div>
  </ion-accordion>

  <ion-accordion value = "5">
    <ion-item slot="header">
      <ion-label>Lucio</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      Default Ability #1
      <ul>
        <li>####</li>
      </ul>
    </div>
    <div class="ion-padding" slot="content">
      Default Ability #2
      <ul>
        <li>####</li>
      </ul>
    </div>
  </ion-accordion>

  <ion-accordion value = "6">
    <ion-item slot="header">
      <ion-label>Mercy</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      Default Ability #1
      <ul>
        <li>####</li>
      </ul>
    </div>
    <div class="ion-padding" slot="content">
      Default Ability #2
      <ul>
        <li>####</li>
      </ul>
    </div>
  </ion-accordion>

  <ion-accordion value = "7">
    <ion-item slot="header">
      <ion-label>Moira</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      Default Ability #1
      <ul>
        <li>####</li>
      </ul>
    </div>
    <div class="ion-padding" slot="content">
      Default Ability #2
      <ul>
        <li>####</li>
      </ul>
    </div>
  </ion-accordion>

  <ion-accordion value = "8">
    <ion-item slot="header">
      <ion-label>Zenyatta</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      Default Ability #1
      <ul>
        <li>####</li>
      </ul>
    </div>
    <div class="ion-padding" slot="content">
      Default Ability #2
      <ul>
        <li>####</li>
      </ul>
    </div>
  </ion-accordion>
 </ion-accordion-group>

</ion-content>
