//TAB BAR SCSS//

ion-tab-bar {
    bottom: 20px;           //20px buffer between tab bar and bottom
    position: relative;     
    border-radius: 16px;    //Tab bar rounded corners  by 16px
    border-color: var(--OW2-color-black); //Exposed border is dark blue
    border-width: 5px;      //Border extends by 5px
    width: 92%;             //Tab bar will only cover 92% of screen
    margin: 0 auto;         //Margin is automatic = centered tab bar
  }

ion-tab-button {
    --color: var(--OW2-color-dark-gray);
    --color-selected: var(--OW2-color-dark-blue);
//Top Orange Bar is invisible if tab is not selected  
&::before {
    background-color: transparent;
    display: block;
    content: "";    //empty string to create empty space
    margin: 0 auto;
    width: 20px;
    height: 2px;
    }
  
//When selected, change to a OW2 orange color
&.tab-selected::before {
    background-color: var(--OW2-color-orange);
    }
}

//Set the background color of ion-content to dark blue
ion-content::part(background) {
    --background: var(--OW2-color-dark-blue);
}

ion-content::part(scroll) {
    --color: var(--OW2-color-dark-blue);
}