<!--Tab Bar HTML-->

<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="calculator"></ion-icon>
      <ion-label>Dmg. Calc.</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="shield"></ion-icon>
      <ion-label>Tank</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="flash"></ion-icon>
      <ion-label>DPS</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon name="medkit"></ion-icon>
      <ion-label>Supp</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
