<!--OVERWATCH 2 TANKS TAB-->
<!----------HTML----------->

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> 
      OW2 Tanks 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!--Creating a list of collapsible objects-->
  <ion-accordion-group [multiple]="true">
    <ion-accordion value = "1">
      <ion-item slot="header">
        <ion-label>D.Va</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Fusion Cannons
        <ul>
          <li>Damage: 0.6 - 2 (10-20m)</li>
          <li>Number of Pellets: 11</li>
          <li>Rate of Fire: 6.66</li>
        </ul>
      </div>
    </ion-accordion>

    <ion-accordion value = "2">
      <ion-item slot="header">
        <ion-label>Doomfist</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Hand Cannon
        <ul>
          <li>Damage: 1.8 - 5 (10-20m)</li>
          <li>Number of Pellets: 11</li>
          <li>Rate of Fire: 3</li>
        </ul>
      </div>
    </ion-accordion>

    <ion-accordion value = "3">
      <ion-item slot="header">
        <ion-label>Junker Queen</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Default Ability #1
        <ul>
          <li>####</li>
          <li>####</li>
          <li>####</li>
        </ul>
      </div>
    </ion-accordion>

    <ion-accordion value = "4">
      <ion-item slot="header">
        <ion-label>Orisa</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Default Ability #1
        <ul>
          <li>Damage: 1.8 - 5 (10-20m)</li>
          <li>####</li>
          <li>####</li>
        </ul>
      </div>
    </ion-accordion>

    <ion-accordion value = "5">
      <ion-item slot="header">
        <ion-label>Reinhardt</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Default Ability #1
        <ul>
          <li>Damage: 1.8 - 5 (10-20m)</li>
          <li>####</li>
          <li>####</li>
        </ul>
      </div>
    </ion-accordion>

    <ion-accordion value = "6">
      <ion-item slot="header">
        <ion-label>Roadhog</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Default Ability #1
        <ul>
          <li>Damage: 1.8 - 5 (10-20m)</li>
          <li>####</li>
          <li>####</li>
        </ul>
      </div>
    </ion-accordion>
    <ion-accordion value = "7">
      <ion-item slot="header">
        <ion-label>Sigma</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Default Ability #1
        <ul>
          <li>Damage: 1.8 - 5 (10-20m)</li>
          <li>####</li>
          <li>####</li>
        </ul>
      </div>
    </ion-accordion>

    <ion-accordion value = "8">
      <ion-item slot="header">
        <ion-label>Winston</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Default Ability #1
        <ul>
          <li>Damage: 1.8 - 5 (10-20m)</li>
          <li>####</li>
          <li>####</li>
        </ul>
      </div>
    </ion-accordion>

    <ion-accordion value = "9">
      <ion-item slot="header">
        <ion-label>Wrecking Ball</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Default Ability #1
        <ul>
          <li>Damage: 1.8 - 5 (10-20m)</li>
          <li>####</li>
          <li>####</li>
        </ul>
      </div>
    </ion-accordion>

    <ion-accordion value = "10">
      <ion-item slot="header">
        <ion-label>Zarya</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Default Ability #1
        <ul>
          <li>Damage: 1.8 - 5 (10-20m)</li>
          <li>####</li>
          <li>####</li>
        </ul>
      </div>
    </ion-accordion>

  </ion-accordion-group>  
</ion-content>




