//Tab 2 SCSS//

ion-content::part(background) {
    --background: var(--OW2-color-dark-blue);
}
/* Toolbar Styling */
ion-toolbar {
    --background: var(--OW2-color-dark-blue);
    margin: 0 auto;
}

/* Title Text Styling */
ion-title {
    --color: var(--ion-color-secondary-contrast);
    text-align: center;
}

ion-accordion {
    border-radius: 15px;
}

ion-item[slot="header"] {
    --background: var(--OW2-color-light-blue);
}

