/* Toolbar Styling */
ion-toolbar {
    --background: var(--OW2-color-dark-blue);
    margin: 0 auto;
}

/* Title Text Styling */
ion-title {
    --color: var(--ion-color-secondary-contrast);
    text-align: center;
    font-size: 12px;
}

/***TO DO ***/
    //Figure out how to apply specific styling to only android. 
    //  Title is not comfortable vertical centered

ion-content::part(background) {
    --background: var(--OW2-color-dark-blue);
}