<!--OVERWATCH 2 DAMAGE CALCULATOR TAB-->


<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      OW2 Damage Calculator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-list>
    <ion-item>
      <ion-select interface="popover" placeholder="Select Attacker">
        <ion-select-option value="Ana">Ana</ion-select-option>
        <ion-select-option value="Ashe">Ashe</ion-select-option>
        <ion-select-option value="Baptiste">Baptiste</ion-select-option>
        <ion-select-option value="Bastion">Bastion</ion-select-option>
        <ion-select-option value="Doomfist">Doomfist</ion-select-option>
        <ion-select-option value="D.Va">D.va</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select interface="popover" placeholder="Select Defender">
        <ion-select-option value="Ana">Ana</ion-select-option>
        <ion-select-option value="Ashe">Ashe</ion-select-option>
        <ion-select-option value="Baptiste">Baptiste</ion-select-option>
        <ion-select-option value="Bastion">Bastion</ion-select-option>
        <ion-select-option value="Doomfist">Doomfist</ion-select-option>
        <ion-select-option value="D.Va">D.va</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>


  <div class="cameraButtons">
    <ion-button (click)="getCamera()">
      <ion-icon name="camera"></ion-icon>
    </ion-button>
    <ion-button (click)="getGallery()">
      <ion-icon name="image"></ion-icon>
    </ion-button>
  </div>

  <div class="photoDisplay">
    <img src="{{imgURL}}" height="200" width="200"/>
  </div>

</ion-content>
